<html>
  <head>
    <title>Appointment Scheduler</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="bg-white text-black text-center">
    <div class="flex justify-center">
      <%- include('header') %>
      </div>
       

    <div class="flex justify-center p-4">
      <div class="w-full">
        <a
        class="text-red-500 hover:bg-red-200 transition duration-200 border-2 border-red-500 p-1 rounded-lg font-bold"
        href="/signout"
        >Sign Out</a
      >   
      </div>
    </div>
    <div class="text-center text-xl font-semibold">
      Welcome, <%=userName%>
    </div>
    <div class="pt-6">
      <p class="font-bold text-2xl">Book An Appointment</p>
    </div>
    <br>
    <hr>
    <div>
        <form action="/appointments" method="post">
          <div class="gap-2 py-4">
            <div class="flex-auto">
                <label for="title">Appointment </label>
                <input
                  type="text"
                  name="title"
                  placeholder="What's your appointment about"
                  class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"
                  required
                />
              </div>
              <div class="flex gap-2 py-4">
              <div class="flex-auto">
                <label for="start">Start</label>
                <input
                  type="time"
                  name="start"
                  class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                  required
                />
              </div>
              <div class="flex-auto">
                <label for="start">End</label>
                <input
                  type="time"
                  name="end"
                  class="border 
                  border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                  required
                />
              </div>
              </div>
              <div class="flex-none">
                <br>
                <button
                  type="submit"
                  class="bg-inherit transition duration-200 border-2 border-black p-2 rounded-lg hover:bg-teal-300 px-6"
                >
                Add
                </button>
              </div>
          </div>
          <hr>
          <div class="pt-6">
            <p class="font-bold text-2xl">Previous Appointments</p>
          </div>
          <div class="flex justify-center">
            <table class="p-2">
              <tr>
                <th class="p-4">Appointment</th>
                <th class="p-4">Start</th>
                <th class="p-4">End</th>
                <th class="p-4">Edit</th>
                <th class="p-4">Delete</th>
              </tr>
              <% for(var i = 0; i < appointmentList.length; i++) { %>
                <tr class="text-center">
                  <td><%= appointmentList[i].title %></td>
                  <td><%= appointmentList[i].start %></td>
                  <td><%= appointmentList[i].end %></td> 
                  <td><i class="fa fa-edit"></i></td>
                  <td><i class="fa fa-trash"></i></td>
                </tr>
              <% } %>
            </table>
          </div>
        </form>
    </div>
    <div >
      <%- include ('footer.ejs') %>
    </div>
  </body>
</html>